<footer>
    <h6 class="text-center text-uppercase">
      Contact
    </h6>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="mailto:{{ site.email }}" class="nav-link">
          Email
        </a>
      </li>

      <li class="nav-item">
        <a href="https://originalfuzz.com" class="nav-link">
          Original Fuzz
        </a>
      </li>

      <li class="nav-item">
        <a href="https://github.com/{{ site.github_username }}" class="nav-link">
          Github
        </a>
      </li>

      <li class="nav-item">
        <a href="{{ site.stackoverflow_url}}" class="nav-link">
          Stack Overflow
        </a>
      </li>
    </ul>

    <h6 class="text-center text-uppercase">
      Social
    </h6>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="https://www.instagram.com/{{ site.instagram_username }}" class="nav-link">
          Instagram
        </a>
      </li>

      <li class="nav-item">
        <a href="https://twitter.com/{{ site.twitter_username }}" class="nav-link">
          Twitter
        </a>
      </li>

      <li class="nav-item">
        <a href="{{ site.spotify_url }}" class="nav-link">
          Spotify
        </a>
      </li>

      <li class="nav-item">
        <a href="https://www.youtube.com/c/{{ site.youtube_username }}" class="nav-link">
          YouTube
        </a>
      </li>

      <li class="nav-item">
        <a href="https://www.facebook.com/{{ site.facebook_username }}" class="nav-link">
          Facebook
        </a>
      </li>
    </ul>

    <h6 class="text-center text-uppercase">
      Scrapbook
    </h6>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link">Food</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Music</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Photos</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Recipes</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Travel</a>
      </li>
    </ul>

    <div class="row justify-content-center">
      <h6 class="text-muted">
        &copy; {{ site.title }} 1983-{{ 'now' | date: "%Y" }}
      </h6>
    </div>
    <div class="row justify-content-center">
      <h6>
        <small><em>Look out honey 'cause I'm using technology.</em></small>
      </h6>
    </div>
</footer>
