<hr>
<footer>
  <div class="row">
    <div class="col">
      <ul class="nav nav-pills float-left">
        <li class="nav-item">
          <a href="#">Journal</a>
        </li>
        <li class="nav-item">
          <a href="#">Music</a>
        </li>
        <li class="nav-item">
          <a href="#">Photos</a>
        </li>
        <li class="nav-item">
          <a href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#">Travel</a>
        </li>
      </ul>
    </div><!-- /.col -->

    <div class="col">
      <p class="credits float-right">
        <a href="#">lee@originalfuzz.com</a>
        <a href="#">twitter</a>
        <a href="#">github</a>
      </p>

      <p class="copyright float-right">
        &copy; Lee McAlilly {{ 'now' | date: "%Y" }}
      </p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</footer>
