---
---

// Variables
$white: #fff;
$green: #367177;
$mint_green: #67b99c;
$gray: #c0c0c0;


// Typography

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
  "Lucida Typewriter", monospace;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: $mint_green;
  text-decoration: none;
  border-bottom: 3px solid $gray;
}

a:hover {
  color: $green;
  text-decoration: none;
  border-bottom: none;
}

header a,
footer .nav-item a,
.text-muted a,
.all-notes a,
.go-back a {
  border-bottom: none;
}

// Layout
/* Template container width */
@media (min-width: 48rem) {
  .container {
    max-width: 520px;
  }
}

body {
  padding-top: 60px;
  background-color: $white;

  img {
    width: 100%;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* Template header */
.header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

/* Header: make the site title same height as the navigation */
.header {
  .nav {
    margin-top: 0.3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;

    a {
      color: $gray;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* Template footer */
footer {
  color: #777;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: .05rem solid #e5e5e5;

  h6 {
    margin-bottom: 0;
  }

  .nav {
    margin-bottom: 2rem;
  }
}

// Home

// Page

// Journal

// Resume
