<!doctype html>
<html lang="en">

  {%- include head.html -%}

  <body class="container">

    {%- include header.html -%}

    <main>
      <p>{{ content }}</p>

      {%- if site.posts.size > 0 -%}
        <ul class="list-unstyled all-notes">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <small>{{ post.date | date: date_format }}</small>
            <h3>
              <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {%- endif -%}
    </main>

    {%- include footer.html -%}

    {%- include javascript.html -%}
  </body>
</html>
