<!doctype html>
<html lang="en">

  {%- include head.html -%}

  <body class="container">

    <p class="go-back">
      <a href="{{ site.baseurl }}/notes">
        << Back to notes
      </a>
    </p>

    <hr>

    <main>
      <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="display-4 post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
            <small>
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
              </time>
              {%- if page.author -%}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
              {%- endif -%}</p>
            </small>
        </header>

        <div class="lead post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>

        {%- if site.disqus.shortname -%}
          {%- include disqus_comments.html -%}
        {%- endif -%}

      </article>
    </main>

    {%- include javascript.html -%}
  </body>
</html>
